@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<h4>
    All refurbished iPhone and Samsung phone with our guarantee. Free Shipping & Pick Up. Great Price & Extra High Quality, sales over 10 years. UP TO 12 Months WARRANTY. 6 Weekly Interest-Free. Professional Service Team. No Trick. The Best Quality.
</h4>
<h4>

    Shop for mobile phones & devices in New Zealand. We have smart phones such as the iPhone, Samsung Galaxy, Huawei, and more from Spark.
</h4>
<h4>
    Browse our mobile phone range to find your next smartphone from top brands such ... Engineered with a 512MB storage capacity, this Mobile Phone lets you store your ... 2007-2021 Harvey Norman Stores (NZ) Pty Limited, Private Bag 94035
</h4>
<p>
    Everyone has their personal preference when it comes to their technology, and mobile phones are no different. Find the right mobile phone to match your needs with our online range featuring a variety of the big, top quality brands including Samsung, Apple iPhone, Nokia and Huawei. You can also choose which carrier to go with when you find the phone you’re after with our range being available with Spark, 2degrees and Vodafone, or choose an open network mobile phone.

    It can be difficult to know which mobile phone best suits your phone needs. When you're choosing your new smartphone make sure to keep in mind what you usually use your phone for, how much hard drive space you'll need, and what size will best fit into your lifestyle. If you need some help choosing between the brands then don't worry, we can help! Contact us for more information on what the iPhone, Samsung, Huawei and more have to offer, so that you can make your decision with peace of mind.
</p>
<p>
    Although we have the most popular and demanding products in the market, we only sell all our products (iPhone refurbished and Samsung refurbished New Zealand) at an affordable and acceptable price with great after sale services included.

</p>